<!DOCTYPE html>
<html>
<head>
    <title>Tournée minimale en Mauritanie avec ACO</title>
    <style>
        .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: white;
        padding: 10px 20px;
    }
        </style>
</head>
<body>
    <nav class="navbar" >
        <div class="logo" style="margin-left: 500px;">SupNum Solver</div>
    </nav>

    <h1 style="text-align: center;">Le graphe d'ACO</h1>
    <div id="graph-container">
        <img src="data:image/png;base64,{{ image_base64 }}" alt="Graph">
    </div>

</body>
</html>
