<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
</head>
<body>

<h2>Upload Excel File</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'import_excel' %}">
    {% csrf_token %}
    <label for="excel_file">Sélectionnez un fichier Excel :</label><br>
    <input type="file" id="excel_file" name="excel_file"><br><br>
    <button type="submit">Upload</button>
</form>

</body>
</html>
